* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #29598d;
    color: #333;
}

/* Header */
header {
    background: #081822;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile-image {
    width: 75px;          /* control size */
    height: 75px;         /* must be same for circle */
    border-radius: 50%;   /* makes it circular */
    object-fit: cover;    /* prevents stretching */
    margin-right: 15px;
}
header nav a {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    background: #012035;
    color: white;
    padding: 60px;
    text-align: center;
}

/* Sections */
section {
    padding: 40px;
    background: rgb(209, 224, 237);
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}

/* Skills */
.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    background: #0077cc;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
}

/* Projects */
.project {
    background: rgb(209, 224, 237);
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid #0077cc;
}

/* Contact */
#contact a {
    color: #0077cc;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #081822;
    color: white;
    margin-top: 30px;
}
